body {
  background-color: #000000;
  color: #FFB000;
  font-size: 18px;
}
#choices {
  color: #33FF33;
}
#choices:hover {
  text-shadow: 0px 0px 10px #66FF66, 0px 0px 10px #66FF66, 0px 0px 15px #66FF66;
}
